/* your custom css */

figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

figcaption {
  text-align: center;
}

ol.article {
  counter-increment: article;
  counter-reset: paragraph;
  list-style-type: none;
}

ol.article > li::before {
  counter-increment: paragraph;
  content: counter(article) "." counter(paragraph) " ";
}

ol.paragraph {
  list-style-type: lower-alpha;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}